.business-card {
    display: flex;
    flex-direction: row;
    max-width: 1127px;
    height: 595px;
    /*Размещение по центру страницы*/
    margin: 0px auto;
    border-radius: 30px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
}

.business-card_theme_light {
    background: silver;
    color: rgb(10,10,10);
    --bg-main-info: RGB(220, 220, 220);
    --shadow-color-avatar: rgb(220, 220, 220);
    --color-button-download: rgb(10, 10, 10);
    --bg-button-download: RGB(220, 220, 220);
    --bg-circle: RGB(220, 220, 220);
}

.business-card_theme_dark {
    background: #444444;
    color: #FFFFFF;
    --bg-main-info: #222222;
    --shadow-color-avatar: rgb(93, 93, 93);
    --color-button-download: #FFFFFF;
    --bg-button-download: #444444;
    --bg-circle: #C4C4C4;
}

.main-info {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    width: 66%;
    background: var(--bg-main-info);
}

.additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
}

.avatar {
    position:relative;
    top: 12%;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-image: url("../res/avatar_cutted.png");
    background-size: cover;
    box-shadow: 10px 10px 3px 3px var(--shadow-color-avatar);
}

.main-info__name-surname {
    position: relative;
    top: 34%;
    font-size: 62px;
    font-weight: bold;
}

.main-info__profession {
    position: relative;
    top: 28%;
    font-size: 22px;
}

.additional-info__name-surname {
    position: relative;
    top: 17%;
    font-size: 38px;
    font-weight: bold;
}

.additional-info__profession {
    position: relative;
    top: 18%;
    font-size: 20px;
}

.button-download {
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    position: relative;
    top: 19%;
    width: 43%;
    height: 7.6%;
    font-size: 17px;
    color: var(--color-button-download);
    background: var(--bg-button-download);
}

.circles {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15%;
}

.circles__circle {
    background: #C4C4C4;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
    background: var(--bg-circle);
}

footer {
    position: relative;
    top: 30%;
    font-size: 14px;
}